@font-face {
    font-family: 'myfont';
    src: url(rubik.ttf);
}

body {
    font-family: myfont;
    margin-top: 40px;
}

.name {
    background-color: #00906D;
    color: white;
    width: 430px;
    margin: auto;
    margin-top: 40px;
    padding: 20 20;
    font-size: 40px;
    text-align: center;
}

.subname {
    background-color: #BAD6FF;
    width: 430px;
    margin: auto;
    padding: 30 30;
    font-size: 15px;
    text-align: center;
    font-weight: normal;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stickies {
    display: flex;
    justify-content: center;
    gap: 70px; /* Space between each sticky note */
    margin-top: 160px; /* Space between name and stickies */
    margin-bottom: 30px; /* Space between stickies and contact section */
}

.sticky {
    position: relative; /* Allows the emoji to be positioned relative to the sticky */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 330px;
    padding: 10px;
    background-color: #FDF9B4; /* Example background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #7f7d56;
}

h3 {
    font-size: 22px;
}

li {
    font-size: 18px;
}
.emojis {
    position: absolute;
    right: 70px; 
    width: 30px;
    height: 30px;
    transform: rotate(-20deg); 
    z-index: 20; /* Increase the z-index to bring the emojis above the contact div */
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 120px;
}

.contact a {
    margin: 10px; /* Space between icons */
}

.contact img {
    width: 20px; /* Adjust icon size as needed */
}

footer {
    margin-top: -80px;
    text-align: center;
    font-size: 10px;
}

.title_top {
    margin-top: 80px;
    margin-bottom: -50px;
}

.circle {
    position: absolute;
    right: 90px; 
    width: 170px;
    height: 170px;
    z-index: 40; /* Increase the z-index to bring the emojis above the contact div */
    margin-top: -55px;
}

.arrow {
    position: absolute;
    right: 290px; 
    width: 90px;
    height: 90px;
    z-index: 40; /* Increase the z-index to bring the emojis above the contact div */
    margin-top: -55px;
}

.patharrow {
    position: absolute;
    right: -50px; 
    width: 130px;
    height: 130px;
    z-index: 40; /* Increase the z-index to bring the emojis above the contact div */
    margin-top: -35px;
}

.pink {
    position: absolute;
    right: 240px; 
    width: 102px;
    height: 102px;
    z-index: 40; /* Increase the z-index to bring the emojis above the contact div */
    margin-top: 255px;
}

.purple {
    position: absolute;
    right: 290px; 
    width: 130px;
    height: 130px;
    z-index: 40; /* Increase the z-index to bring the emojis above the contact div */
    margin-top: 25px;
}

.fullstack {
    position: absolute;
    background-color: #BAD6FF;
    border-radius: 30px;
    font-size: 10px;
    right: 290px; 
    width: 160px;
    height: 30px;
    margin-top: 525px;
    margin-left: 90px;
    padding-left: 10px;
}

.sun {
    position: absolute;
    right: 290px; 
    width: 130px;
    height: 130px;
    z-index: 40; /* Increase the z-index to bring the emojis above the contact div */
    margin-top: 25px;
}