@font-face {
    font-family: 'myfont';
    src: url(styles/rubik.tff);
}

body {
    font-family: myfont;
    margin-top: 20px;
}

.name {
    background-color: #00906D;
    width: 430px;
    margin: auto;
    padding: 20 20;
    font-size: 40px;
    text-align: center;
}

.subname {
    background-color: #BAD6FF;
    width: 450px;
    margin: auto;
    padding: 20 20;
    font-size: 18px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stickies {
    display: flex;
    justify-content: center;
    gap: 30px; /* Space between each sticky note */
    margin-top: 160px; /* Space between name and stickies */
    margin-bottom: 30px; /* Space between stickies and contact section */
}

.sticky {
    position: relative; /* Allows the emoji to be positioned relative to the sticky */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 330px;
    padding: 10px;
    background-color: #FDF9B4; /* Example background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #7f7d56;
}

h3 {
    font-size: 22px;
}

li {
    font-size: 18px;
}
.emojis {
    position: absolute;
    top: 25px; 
    right: 70px; 
    width: 30px;
    height: 30px;
    transform: rotate(-20deg); 
    z-index: 10; 
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 150px;
}

.contact a {
    margin: 10px; /* Space between icons */
}

.contact img {
    width: 40px; /* Adjust icon size as needed */
}

footer {
    text-align: center;
    font-size: 10px;
}